.register {
    border-bottom: 1px solid var(--color-gray);
}

.register__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
}

.register__descr {
    padding: 30px 0;
}

.register__descr ~ .register__descr {
    border-top: 1px solid var(--color-gray);
}

.register__action {
    margin-top: 90px;
    @include mobileXS-block {
        display: none;
    }
}

.register__action-mobile {
    display: none;
    @include mobileXS-block {
        display: block;
    }
}