.awards {
    background: #F2F3F8;
}

.awards__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
}

.awards__descr {
    max-width: 395px;
}

.awards__items {
    margin-top: 30px;
}

.awards__item {
    margin-top: 20px;
}

.awards__descr {
    margin-top: 60px;
}

.awards__img {
    display: block;
}