{% set title = "Детальная новость" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- News -->
<section class="news">
    <div class="news__body container">
        <div class="news__pic">
            <img src="https://dummyimage.com/640x360/aaa/ffffff" alt="" class="news__img">
        </div>
        <div class="news__inner">
            <article class="news__article">
                <header class="news__header">
                    <h1 class="news__title title title--large title--dark title--w-semibold title--uppercase title--indent">
                        Какое-то название новости
                    </h1>
                </header>
                <div class="news__content wysiwyg">
                    <p>
                        Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение распределения внутренних резервов и ресурсов. Также как укрепление и развитие внутренней структуры, в своём классическом представлении, допускает внедрение первоочередных требований. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада не даёт нам иного выбора, кроме определения новых предложений. Кстати,  диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть описаны максимально подробно. Кстати,  диаграммы связей набирают популярность среди определенных слоев населения, а значит, должны быть призваны к ответу. Не следует, однако, забывать, что внедрение современных методик предполагает независимые способы реализации позиций, занимаемых участниками в отношении.
                    </p>
                    <h3>
                        Какой то заголовок
                    </h3>
                    <p>
                        Свидетельство (патент) на программу гарантирует ее дополнительную юридическую охрану. Зарегистрированный же код программы для ЭВМ в Роспатенте служит доказательством его принадлежности конкретному создателю (автору). Свидетельство о государственной регистрации компьютерной программы будет являться доказательством в случае возникновения спора: при выявлении плагиата и контрафакта.
                    </p>
                    <p>
                        Документы, необходимые для государственной регистрации программного обеспечения и базы данных в ФИПС:
                    </p>
                    <ol>
                        <li>заявление о государственной регистрации программы для ЭВМ или базы данных, которое заполняется на лицевой и оборотной стороне;</li>
                        <li>дополнение к заявлению на государственную регистрацию программы для ЭВМ или базы данных – также две стороны;</li>
                        <li>согласие на обработку персональных данных;</li>
                        <li>согласие на указание сведений об авторе;</li>
                        <li>ходатайство о предоставлении льготы по уплате государственной пошлины;</li>
                        <li>код ПО – целиком или только часть;</li>
                        <li>квитанция об оплате госпошлины.</li>
                    </ol>
                    <p>
                        Каждый из нас понимает очевидную вещь: <a href="#">консультация с широким активом</a> предполагает независимые способы реализации позиций, занимаемых участниками в отношении поставленных задач. В частности, высокотехнологичная концепция общественного уклада обеспечивает актуальность модели развития. В целом, конечно, современная методология разработки не оставляет шанса для новых предложений. Ясность нашей позиции очевидна: консультация с широким активом является качественно новой ступенью стандартных подходов. Задача организации, в особенности же высококачественный прототип будущего проекта создаёт предпосылки для глубокомысленных рассуждений. Мы вынуждены отталкиваться от того, что социально-экономическое развитие, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для форм воздействия. Не следует, однако, забывать, что.
                    </p>
                    <ul>
                        <li>Доверь нам даже самый сложный случай</li>
                        <li>Будь уверен в защите своих интересов во всех инстанциях</li>
                        <li>Сохрани права на интеллектуальную собственность</li>
                    </ul>
                    <p>
                        И нет сомнений, что диаграммы связей разоблачены. А ещё сделанные на базе интернет-аналитики выводы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут функционально разнесены на независимые элементы. Безусловно, постоянный количественный рост и сфера нашей активности однозначно определяет каждого участника как способного принимать собственные решения касаемо своевременного выполнения сверхзадачи. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, представлены в исключительно положительном свете. Являясь всего лишь частью общей картины, независимые государства и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы. Но реализация намеченных плановых заданий.
                    </p>
                </div>
                <footer class="news__footer">
                </footer>
            </article>
            <aside class="news__aside">
                <div class="news__file">
                    <img src="img/uploads/book-1.png" alt="" class="news__file-img">
                    <p class="news__file-text text text--medium text--dark text--w-regular">
                        Пожалуйста, заполните форму ниже, чтобы получить этот файл по электронной почте.
                    </p>
                </div>
                <div class="news__wraper-form">
                    <!-- Form-page -->
                    <div class="form-page">
                        <div class="form-page__body">
                            <form action="" class="form-page__form wpcf7-form">
                                <div class="form-page__field">
                                    <input type="email" class="form-page__input" placeholder="Email*">
                                </div>
                                <div class="form-page__field">
                                    <input type="text" class="form-page__input" placeholder="ФИО*">
                                </div>
                                <div class="form-page__field">
                                    <input type="tel" class="form-page__input" placeholder="Номер телефона">
                                </div>
                                <div class="form-page__field">
                                    <textarea name="textarea-728" cols="40" rows="10" class="form-page__input form-page__input--textarea" placeholder="Сообщение"></textarea>
                                </div>
                                <div class="form-page__agree-text">
                                    <span class="wpcf7-form-control-wrap acceptance-666">
                                        <span class="wpcf7-form-control wpcf7-acceptance">
                                            <span class="wpcf7-list-item">
                                                <label>
                                                    <input type="checkbox" name="acceptance-666" value="1" aria-invalid="false" class="form-page__checkbox form-page__checkbox--agree">
                                                    <span class="wpcf7-list-item-label">
                                                        Даю согласие на обработку персональных данных
                                                    </span>
                                                </label>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="form-page__agree-text">
                                    <span class="wpcf7-form-control-wrap acceptance-666">
                                        <span class="wpcf7-form-control wpcf7-acceptance">
                                            <span class="wpcf7-list-item">
                                                <label>
                                                    <input type="checkbox" name="acceptance-666" value="1" aria-invalid="false" class="form-page__checkbox form-page__checkbox--agree">
                                                    <span class="wpcf7-list-item-label">
                                                        Да, я хотел бы получать сообщения от DIS Group о продуктах, решениях и событиях.
                                                    </span>
                                                </label>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="form-page__actions">
                                    <input type="button" value="Отправить" class="form-page__btn button button--primary">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /. Form-page -->
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- /. News -->

{% endblock %}