.why-us {
    position: relative;
}

.why-us__decor {
    position: absolute;
    right: 50px;
    top: 80px;
    @include mobile(display, none);
}

.why-us__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    align-items: center;
    @include mobileXS-block {
        grid-template-columns: 1fr;
        padding-top: 50px;
    }
}

.why-us__img,
.why-us__num-img {
    display: block;
}

.why-us__heading {
    justify-self: center;
}

.why-us__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-top: 70px;
    @include mobile-block {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}

.why-us__items::before {
    content: '';
    position: absolute;
    height: 1px;
    background: #000;
    width: 1000%;
    top: 40%;
    transform: translate(-50%, -50%);
    @include mobile(content, none);
}

.why-us__num {
    @include mobile-block {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-black);
    }
}

.why-us__descr {
    margin-top: 40px;
    @include mobile(margin-top, 10px);
}